
// Global object scale
GLOBAL_SCALE=0.75

// Amount of player [max. 8 players]
MAX_PLAYER=4

// Maximum bounty that can spawn
MAX_BOUNTY=10

// Delay before game starts
DEFAULT_FREEZE_TIME=3.0

// Play time
DEFAULT_PLAY_TIME=90.0

// Penalty time when collector dies
COLLECTOR_RESPAWNTIME=3.0

// Collector max move speed (m/s)
COLLECTOR_MAX_MOVE_SPEED=25.0

// Respawn time when bounty was picked up
BOUNTY_RESPAWNTIME=2.0

// Min-Max range for bounty lifetime (seconds)
BOUNTY_MIN_LIFETIME=4.0
BOUNTY_MAX_LIFETIME=7.0

// Min-Max range for bounty value
BOUNTY_MIN_VALUE=5.0
BOUNTY_MAX_VALUE=30.0

// Min-Max scale for corresponding bounty size
BOUNTY_MIN_SCALE=1.0
BOUNTY_MAX_SCALE=3.0

// Bounty RGBA color values [0.0 - 1.0]
BOUNTY_COLOR_R=1.0
BOUNTY_COLOR_G=1.0
BOUNTY_COLOR_B=1.0
BOUNTY_COLOR_A=1.0

// Max amount of bounty a collector can carry
PLAYER_POCKET_SIZE=100.0

// Stash size
PLAYER_STASH_SIZE=250.0