
// Global object scale
GLOBAL_SCALE=0.75

// Amount of player [max. 8 players]
MAX_PLAYER=4

// Maximum bounty that can spawn
MAX_BOUNTY=10

// Delay before game starts
DEFAULT_FREEZE_TIME=3.0

// Play time
DEFAULT_PLAY_TIME=90.0

// Penalty time when collector dies
COLLECTOR_RESPAWNTIME=3.0

// Collector max move speed (m/s)
COLLECTOR_MAX_MOVE_SPEED=25.0

// Respawn time when bounty was picked up
BOUNTY_RESPAWNTIME=2.0

// Min-Max range for bounty lifetime (seconds)
BOUNTY_MIN_LIFETIME=10.0
BOUNTY_MAX_LIFETIME=10.0

// Min-Max range for bounty value
BOUNTY_MIN_VALUE=1.0
BOUNTY_MAX_VALUE=1.0

// Min-Max scale for corresponding bounty size
BOUNTY_MIN_SCALE=2.0
BOUNTY_MAX_SCALE=2.0

// Bounty RGBA color values [0.0 - 1.0]
BOUNTY_COLOR_R=1.0
BOUNTY_COLOR_G=1.0
BOUNTY_COLOR_B=1.0
BOUNTY_COLOR_A=1.0

// Max amount of bounty a collector can carry
PLAYER_POCKET_SIZE=3.0

// Stash size
PLAYER_STASH_SIZE=10.0

// The magnitude scale for rewrding player death (base value is 1.0f).
REWARD_SCALE_PLAYER_DIED=-1.0

// The reward scale of the amount of collected bounty.
REWARD_SCALE_BOUNTY_COLLECTED=0.25

// The reward scale of the amount of stashed bounty.
REWARD_SCALE_BOUNTY_STASHED=1.0